/* Settings */

body{
  font-family: Helvetica, sans-serif
}

.float-left{
  float:left;
}

.text-center{
  text-align: center;
}

.main-container{
  background-color: #e2e2e2;
  padding: 20px;
  width: 600px;
  margin: auto;
}

.white-bg {
  background-color: #ffffff
}

.header-tabs .tab{
  width: 50%;
  display: inline-block;
  padding: 14px 0;
  box-shadow: 1px 0 0 transparent;
}

.header-tabs .tab:first-child{
  box-shadow: 1px 0 0 #e2e2e2;
}

.header-tabs .tab.active{
  border-bottom: 4px solid #ff9000;
  font-weight: bold;
}

.separator-line{
  display: block;
  width: 100%;
  margin: 4px 0;
  border-bottom: 1px solid #e2e2e2;
}
.card{
  margin: 10px 0;
  color: #6b6b6b;
}

.card-section{
  padding: 10px;
}

.icon{
  margin-right: 4px;
  display: inline-block;
}

.profile-image{
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  background-color: #ff9000;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 40px;
}

.profile-info{
  display: inline-block;
  padding: 5px 16px;
}

.profile-name{
  font-weight: bold;
  color: #4c4c4c;
}

.job-location-info div{
  display: inline-block;
  margin-right: 16px;
}

.job-description-info{
  width: 84%;
}
.button{
  font-weight: bold;
  padding: 10px 20px;
  border: none;
}

.button-primary{
  background-color: #ff9000;
  color: #ffffff;
}

.lead-info, .action-buttons{
  display: inline-block;
}

.rate{
  font-weight: bold;
  margin-left: 12px;
}
.contact-info{
  margin-bottom: 8px;
}
.contact-action{
  display: inline-block;
  margin-right: 16px;
}
.contact-action a{
  text-decoration: none;
  color:#ff9000;
  font-weight: bold;
}